@import "./Font_scheme.scss";

.Header {
	top: 0;
	width: 100%;

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
	}

	&__menu {
		display: flex;
		gap: 24px;
		align-items: center;
		@include f_subtitle2_regular("text");

		&-sns {
			display: flex;
			gap: 24px;
		}
	}
}
