@import "/styles/Font_scheme.scss";
@import "./Resolution.scss";

.ProjectSummery-Mobile {
  display: none;
}

.ProjectSummery {
	display: flex;
	flex-direction: column;
	gap: 72px;
	margin-bottom: 120px;
	&__card {
		display: flex;
		flex-direction: row;
		gap: 16px;
		&__main {
			display: flex;
			flex-direction: column;
			gap: 32px;
			width: 900px;
			&__content {
				display: flex;
				flex-direction: column;
				gap: 16px;
				&__title {
					display: flex;
					flex-direction: column;
					gap: 12px;
					&-main {
						font-size: 48px;
						letter-spacing: -0.02em;
						font-weight: 500;
					}
					&__subtitle {
						display: flex;
						flex-direction: row;
						gap: 8px;
						@include f_subtitle2_regular("text");
						color: white;
						&-tag {
							color: #cfcfcf;
						}
						&__designer {
							display: flex;
							flex-direction: row;
							gap: 2px;
							&-name {
								// text-decoration: underline;
								&:hover {
									cursor: pointer;
									color: #fe3b99;
								}
							}
						}
					}
				}
				&-body {
					@include f_body_regular("text");
					line-height: 21px;
					& span {
						margin-left: 8px;
						text-decoration: underline;
						cursor: pointer;
					}
				}
			}
		}
		&__sub {
			width: 524px;
		}
	}
}


@media only screen and (max-width: $mobile_screen)
{
	.ProjectSummery-Mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    
    
    &-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      &__main {
        &__content {
          display: flex;
          flex-direction: column;
          gap: 16px;
          &__title {
            display: flex;
            flex-direction: column;
            gap: 12px;
            &__main {
              font-size: 24px;
              font-weight: 500;
              letter-spacing: -0.02em;
            }
            &__subtitle {
              font-size: 12px;
              width: 100%;
              letter-spacing: -0.02em;
              display: flex;
              gap: 8px;
              &-tag {
                color: #cfcfcf;
              }
              &__designer {
                display: flex;
                gap: 4px;
                &-name {
                  text-decoration: underline;
                  color: #fe3b99;
                  // &:hover {
                  //   cursor: pointer;
                  //   color: #fe3b99;
                  // }
                }
              }
            }
          }
          &-body {
            font-size: 14px;
            letter-spacing: -0.02em;
            line-height: 21px;
          }
        }
      }

    }

    
  }

  .ProjectSummery {
    display: none;
    
  }
  
}